<div class="card mb-3">
  <div class="card-header media border-0">
    <img src="<%= @tweet.user.image %>" class="mr-3 rounded-circle" alt="..." width="64" height="64">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mt-0"><%= @tweet.user.name %></h5>
      <small id="TimeAgo"><%= time_ago_in_words(@tweet.created_at) %> ago</small>
    </div>
  </div>

  <div class="card-body" id="Content">
    <h5 class="card-title"><%= @tweet.content.html_safe %></h5>
    <!-- Only when RT is present -->
    <p class="card-text"><%= render 'shared/retweet_layout', rt_id: @tweet.tweet_id %></p>    
  </div>

  <div class="card-footer">
    <div class="row text-center mt-2">
      <div class="col">
        <%= render 'shared/like_status', tweet: @tweet %>
      </div>
      <div class="col">
        <%= render 'shared/retweet_status', tweet: @tweet %>
      </div>
    </div>
  </div>
</div>

<!-- Shows Profile User Imgs -->
<% @tweet.likes.each do |like| %>
    <% user_temp = @users.find(like.user_id) %>
    <img src="<%= user_temp.image %>" class="mr-3 border border-primary rounded-circle"
         alt="<%= user_temp.name %>" width="64" height="64" 
         data-toggle="tooltip" data-placement="left" title="<%= user_temp.name %>">
<% end %>

<%= link_to 'Back', root_path %>
