<%= form_with(model: tweet, local: true) do |form| %>
  <% if tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
      <% tweet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <li class="media border border-primary p-2">
        <img src="<%= current_user.image %>" class="mr-3 border border-primary rounded-circle" alt="..." width="64" height="64">
        <div class="media-body">
            <div class="field text-center pr-5">
                <%= form.text_area :content, size:"90x2", placeholder: "What's Going On?" %>
            </div>
            <div class="actions text-right pr-5">
                <%= form.submit %>
            </div>
        </div>
    </li>
<% end %>
