<%= form_with(model: tweet, retweet: retweet, local: true) do |form| %>

    <% if tweet.errors.any? %>
        <%= render 'shared/tweet_errors', tweet: tweet %>
    <% end %>

    <li class="media border border-primary p-2">
        <img src="<%= current_user.image %>" class="mr-3 border border-primary rounded-circle" alt="..." width="64" height="64">
        <div class="media-body">
            <div class="field text-center pr-5">
            <!-- <%= tweet.id %>  <!-- Uncomment to see Tweet ID -->
                <%= form.text_area :content, size:"90x2", placeholder: "What's Going On?" %>
                
                <div class="media border border-primary p-2">
                    <img src="<%= retweet.user.image %>" class="mr-3 border border-primary rounded-circle" alt="..." width="64" height="64">
                    <div class="media-body">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mt-0"><%= retweet.user.name %></h5>
                            <small><%= retweet.created_at %></small>
                        </div>
                        <div>
                            <!-- <%= retweet.id %>  <!-- Uncomment to see Tweet ID -->
                            <%= retweet.content %>
                        </div>
                    </div>
                </div>

            </div>
            <div class="actions text-right pr-5">
                <%= form.hidden_field :tweet_id, value: retweet.id %>
                <%= form.submit %>
            </div>
        </div>
    </li>
<% end %>
