<%= form_with(model: tweet, local: true) do |form| %>

    <% if tweet.errors.any? %>
        <%= render 'shared/tweet_errors', tweet: tweet %>
    <% end %>

    <li class="media border border-primary p-2">
        <img src="<%= current_user.image %>" class="mr-3 border border-primary rounded-circle" alt="..." width="64" height="64">
        <div class="media-body">
            <div class="field text-center pr-5">
            <!-- <%= tweet.id %>  <!-- Uncomment to see Tweet ID -->
                <%= form.text_area :content, size:"90x2", placeholder: "What's Going On?" %>
                
            <!-- Only when RT is in progress -->
                <%= render 'shared/retweet_layout', id: params[:rt_id] %>
      
            </div>
            <div class="actions text-right pr-5">
                <%= form.hidden_field :tweet_id, value: params[:rt_id] %>
                <%= form.submit %>
            </div>
        </div>
    </li>
<% end %>
