<% if rt_id != nil %>
    <div class="media p-2">
        <img src="<%= @tweets.get_author_img(rt_id) %>" class="mr-3 rounded-circle" alt="..." width="64" height="64">
        <div class="media-body">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mt-0"><%= @tweets.get_author_name(rt_id) %></h5>
                <%= link_to tweet_path(@tweets.find(rt_id)) do %>
                    <small id="TimeAgo"><%= time_ago_in_words(@tweets.get_created(rt_id)) %> ago</small>
                <% end %>
            </div>
            <div id="Content">
                <!-- <%= @tweets.get_id(rt_id) %>  <!-- Uncomment to see RTweet ID -->
                <p class="text-justify"><%= @tweets.get_content(rt_id) %></p>
            </div>
        </div>                    
    </div>
<% end %>  