<li class="media border border-primary p-2">
  <img src="<%= user.image %>" class="mr-3 border border-primary rounded-circle" alt="..." width="64" height="64">
  <div class="media-body">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mt-0"><%= user.name %></h5>
        <small><%= tweet.created_at %></small>
    </div>
    <div>
        <!-- <%= tweet.id %>  <!-- Uncomment to see Tweet ID -->
        <%= tweet.content %>

        <!-- Only when RT is present -->
        <% if tweet.tweet_id != nil %>
          <div class="media border border-primary p-2">
            <img src="<%= @tweets.get_author_img(tweet.tweet_id) %>" class="mr-3 border border-primary rounded-circle" alt="..." width="64" height="64">
            <div class="media-body">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mt-0"><%= @tweets.get_author_name(tweet.tweet_id) %></h5>
                <small><%= @tweets.get_created(tweet.tweet_id) %></small>
              </div>
              <div>
                <!-- <%= Tweet.find(tweet.tweet_id).id %>  <!-- Uncomment to see Tweet ID -->
                <%= @tweets.get_content(tweet.tweet_id) %>
              </div>
            </div>
          </div>
        <% end %>

    </div>
    <div class="row text-center mt-2">
      <div class="col">
        <%= render 'shared/like_status', tweet: tweet %>
      </div>
      <div class="col">
        <%= render 'shared/retweet_status', tweet: tweet %>
      </div>
    </div>
  </div>
</li>