<li class="media border border-primary p-2">
  <img src="<%= user.image %>" class="mr-3 border border-primary rounded-circle" alt="..." width="64" height="64">
  <div class="media-body">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mt-0"><%= user.name %></h5>
        <small><%= tweet.created_at %></small>
    </div>
    <div>
        <!--  <%= tweet.id %>  <!-- Uncomment to see Tweet ID -->
        <%= tweet.content %>
    </div>
    <div class="row text-center mt-2">
      <div class="col">
        <%= render 'shared/like_status', tweet: tweet %>
      </div>
      <div class="col"> Retweets: <%= tweet.retweets.count %></div>
    </div>
  </div>
</li>