<li class="media border border-primary p-2">
  <img src="<%= user.image %>" class="mr-3 border border-primary rounded-circle" alt="..." width="64" height="64">
  <div class="media-body">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mt-0"><%= user.name %></h5>
        <small><%= tweet.created_at %></small>
    </div>
    <div>
        <%= tweet.id %>
        <%= tweet.content %>
    </div>
    <div class="row text-center mt-2">
      <div class="col">
        <%= link_to root_path do %>

          <% if current_user && Like.current_liked(tweet.id, current_user.id) %>
            <i class="fas fa-heart fa-2x"></i> <!-- solid heart -->
            
          <% else %>     
            <i class="far fa-heart fa-2x"></i> <!-- heart -->
          <% end %>

        <% end %>
    
        <%= tweet.likes.count %> 
      </div>
      <div class="col"> Retweets: <%= tweet.retweets.count %></div>
    </div>
  </div>
</li>